Source: fsearch
Section: utils
Priority: optional
Maintainer: Christian Boxdörfer <christian.boxdoerfer@posteo.de>
Build-Depends:
    appstream,
    build-essential,
    itstool,
    libglib2.0-dev,
    libgtk-3-dev,
    libicu-dev,
    libpcre2-dev,
    libtool,
    libxml2-utils,
    meson,
    pkgconf,
    debhelper (>=13),
Standards-Version: 4.7.3
Homepage: https://cboxdoerfer.github.io/fsearch/

Package: fsearch
Architecture: any
Replaces: fsearch-trunk
Breaks: fsearch-trunk
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A fast graphical file search utility
    FSearch is a fast file search utility, based on GTK3.
    It supports regular expressions, wildcards, fast sorting,
    instant results with millions of files and more.
