<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="io.github.cboxdoerfer.FSearch.ntfs-scan">
    <description>NTFS MFT Fast Scan</description>
    <message>Authentication is required to scan NTFS partitions</message>
    <defaults>
      <allow_any auth_self="yes" />
      <allow_inactive auth_self="yes" />
      <allow_active auth_self="yes" />
    </defaults>
  </action>
</policyconfig>
