BasedOnStyle: LLVM

Language: Cpp
IndentWidth: 4
ColumnLimit: 100
AlwaysBreakAfterReturnType: All
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
