.fsearch-statusbar-cancel-update-button {
    padding: 0px;
    min-height: 20px;
    min-width: 20px;

    border-radius: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
}

.filter_combobox box.linked button:dir(ltr) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-width: 0;
}

.filter_combobox box.linked button:dir(rtl) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-width: 0;
}

.filter_centered box.linked button {
    border-radius: 0;
}

.search_button:dir(ltr) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left-width: 0;
}

.search_button:dir(rtl) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-width: 0;
}

.search_entry_has_neighbours:dir(ltr) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.search_entry_has_neighbours:dir(rtl) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.fsearch-statusbar-button {
    border-radius: 0px;
    border-top: none;
    border-bottom: none;
}

.results_frame {
    border-left: none;
    border-right: none;
}

.results_frame_last {
    border-bottom: none;
}

.results_frame_csd_mode {
    border-top: none;
}

.results_frame treeview button {
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.results_frame treeview button:first-child:dir(rtl) {
    border-right: 0;
}

.results_frame treeview button:first-child:dir(ltr) {
    border-left: 0;
}

.path_entry {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.path_add_button {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
